@font-face{
    font-family: 'Logo';
    src: url('http://cdn.jsdelivr.net/gh/Mootss/autismday2021/fonts/ArtefakCleanTypeface-6Yxg1.otf'),
         url('http://cdn.jsdelivr.net/gh/Mootss/autismday2021/fonts/ArtefakVintageTypeface-yw1XV.otf');
    font-weight: 400;
    font-style: normal;
}