@font-face {
  font-family: 'Logo';
  src: url("../fonts/ArtefakCleanTypeface-6Yxg1.otf"), url("../fonts/ArtefakVintageTypeface-yw1XV.otf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', 'Candara', 'Bahnschrift Light', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  background-color: #f5f5f5;
}

hr {
  border: none;
  height: 1px;
  color: #ccc;
  background-color: #e1e1e1;
  width: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 0 0;
  line-height: 1.2;
  text-align: center;
}

header a {
  color: #25262a;
  text-decoration: none;
  margin: 0 10px;
}

header img {
  width: 65px;
  vertical-align: middle;
}

header hr {
  margin-top: 20px;
  width: 80%;
}

#logo-text {
  vertical-align: middle;
  font-size: 2.3rem;
  font-family: 'Logo', 'Bahnschrift Light', sans-serif;
  color: #292e28;
}

#logo-text span {
  text-decoration: underline;
}

#logo-text span:nth-child(10n + 1) {
  -webkit-text-decoration-color: #d40c00;
          text-decoration-color: #d40c00;
}

#logo-text span:nth-child(10n + 2) {
  -webkit-text-decoration-color: #00a5f9;
          text-decoration-color: #00a5f9;
}

#logo-text span:nth-child(10n + 3) {
  -webkit-text-decoration-color: #ffcd00;
          text-decoration-color: #ffcd00;
}

#logo-text span:nth-child(10n + 4) {
  -webkit-text-decoration-color: #32c12c;
          text-decoration-color: #32c12c;
}

#logo-text span:nth-child(10n + 5) {
  -webkit-text-decoration-color: #32c12c;
          text-decoration-color: #32c12c;
}

.container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  margin: auto;
}

blockquote {
  font-family: 'Gelasio', 'Open Sans', sans-serif;
  padding: 30px;
  background-image: radial-gradient(#ffede3, #f4f4f4);
  border-radius: 50%;
  max-width: 400px;
}

blockquote p {
  text-align: center;
  padding: 5px 20px;
  color: #444;
  line-height: 1.5rem;
}

blockquote .quote-l, blockquote .quote-r {
  text-align: left;
  display: block;
  color: palevioletred;
  font-size: 2.3rem;
}

blockquote .quote-r {
  text-align: right;
}

blockquote cite {
  text-align: right;
  display: block;
  padding: 10px;
  font-size: .85rem;
  font-family: sans-serif;
  color: #555;
}

footer {
  background-color: #25262a;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccc;
  font-family: 'Candara', 'Bahnschrift Light', sans-serif;
  text-align: center;
}

footer p {
  margin: 0 10px;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transition-property: border-bottom, color;
  transition-property: border-bottom, color;
}

footer a:hover {
  border-bottom: 1px solid #f4f4f4;
  color: #eee;
}

footer span {
  color: #f2f2f2;
}

/* media queries */
@media (max-width: 768px) {
  /*#logo-text{
        font-size: 10px;
    }*/
}

@media (max-width: 560px) {
  header img {
    width: 55px;
  }
  #logo-text {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  header img {
    width: 50px;
  }
}
/*# sourceMappingURL=style.css.map */