<!--
    TODOS:
        put og and facebook meta tags
        put proper favicon meta tags
        host on custom doman
        add some actual damn content
        optimize for faster loading time
        include instant page and webSHareAPI or something idfk
        put some content ffs
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--insert og and facebook meta tags-->

    <title>World Autism Awareness Day 2021</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:ital@1&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/puzzle-logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3e48a5d06f.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
        <a href="javascript:void(0);">
            <img src="https://cdn.jsdelivr.net/gh/Mootss/autismday2021/img/puzzle-logo.png">
            <span id="logo-text">
                <span>World </span>
                <span>Autism </span>
                <span>Awareness </span>
                <span>Day </span>
                <span>2021</span>
            </span>
        </a>
    <hr>
</header>

<div class="container">
    <blockquote>
        <span class="quote-l"><i class="fas fa-quote-left"></i></span>
        <p> {{ quote_text }} </p>
        <cite>{% if quote_author %} {{ quote_author }} {% endif %}</cite>
        <span class="quote-r"><i class="fas fa-quote-right"></i></span>
    </blockquote>

    <article>
        <h1>Heaeding</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt repellendus reprehenderit esse eos laboriosam adipisci exercitationem laborum. Nobis odio quidem mollitia eligendi doloremque aspernatur nisi, accusamus et fugiat facere quaerat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta necessitatibus error enim fugit quisquam nam nobis voluptatem, ea deserunt, suscipit voluptatum repudiandae, dicta minus libero vitae adipisci fugiat cum consectetur similique esse. Voluptates, iusto quis asperiores non distinctio voluptatibus recusandae provident earum hic rerum eveniet alias veritatis vel, at, tempora ut magni esse architecto fugit ullam nostrum. Quisquam accusantium nihil facere quae et est iste cupiditate minus laudantium eligendi? Totam ducimus, molestias ea odit praesentium doloremque explicabo corporis distinctio accusamus minima neque, fuga harum numquam maxime. Deserunt minima aut dignissimos et? Exercitationem assumenda deleniti necessitatibus laborum adipisci modi hic perferendis.</p>
    </article>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffede3" fill-opacity="1" d="M0,160L80,170.7C160,181,320,203,480,192C640,181,800,139,960,122.7C1120,107,1280,117,1360,122.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>

<footer>    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220"><path fill="#ffffff" fill-opacity="1" d="M0,128L60,128C120,128,240,128,360,138.7C480,149,600,171,720,181.3C840,192,960,192,1080,176C1200,160,1320,128,1380,112L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    <p>Made with ❤️ in <a href="https://www.facebook.com/Gnaec.edu/" target="_blank">GN.AEC</a><span>, Fuvahmulah</span></p>    
</footer>

</body>
</html>